.popover_content{
    /* z-index: -1;
    visibility: hidden;
    width: auto;
    height: 30px;
    color: cyan;
    position: absolute;
    right: 70px;
    padding: 1.5rem;
    opacity: 0; */
    z-index: -1;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    left: -65px;
    transform: translate(10px, 0);
    background-color: rgb(56, 189, 248);
    height: 30px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    border-radius: 20px 0 0 20px;
    width: 70px;
}
.hovering:hover .popover_content{
    /* visibility: visible;
    z-index: 10;
    opacity: 1; */
    z-index: 10;
    opacity: 1;
    visibility: visible;
    transform: translate(-20px, 0);
    transition: all 0.3s cubic-bezier(0.75, -0.02, 0.2, 0.97);
}
.popover_content::before{
    position: absolute;
    z-index: -1;
    content: "";
    right: -31px;
    translate: (40px,0);
    border-width: 20px 16px 10px 16px;
    rotate: 90deg;
    border-color: transparent transparent rgb(56, 189, 248) transparent;
    transition-duration: 0.3s;
    transition-property: transform;
}
.active{
    fill: rgb(56, 189, 248);
}
.card{
    text-align: center;
    border: 2px solid #444;
    border-radius: 20px;
    margin: 45px 2px 10px;
    padding: 0 25px 15px;
    width: auto;
    height: auto;
    width: 700px;
}
.imgtes{
    max-width: 90px;
    max-height: 90px;
    margin: -45px auto 20px;
    border-radius: 90px;
    box-shadow: 0 10px 10px -8px rgb(0 0 0 / 22%);
}
.owl-nav{
    position: absolute;
    top: -3rem;
    right: 0;
}
.owl-nav .owl-next, .owl-nav .owl-prev{
    position: relative;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    background-color: black;
    font-size: 40px;
    text-align: center;
    display: block;
}
.owl-prev{
    transform: translate(5px, 0);
}