.popover_content{
    /* z-index: -1;
    visibility: hidden;
    width: auto;
    height: 30px;
    color: cyan;
    position: absolute;
    right: 70px;
    padding: 1.5rem;
    opacity: 0; */
    z-index: -1;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    left: -50px;
    transform: translate(10px, 0);
    background-color: #bfbfbf;
    height: 30px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    border-radius: 20px 0 0 20px;
    width: 70px;
}
.hovering:hover .popover_content{
    /* visibility: visible;
    z-index: 10;
    opacity: 1; */
    z-index: 10;
    opacity: 1;
    visibility: visible;
    transform: translate(-20px, 0);
    transition: all 0.5s cubic-bezier(0.75, -0.02, 0.2, 0.97);
}
.popover_content::before{
    position: absolute;
    z-index: -1;
    content: "";
    right: -20px;
    translate: (0,40px);
    border-width: 10px 10px 10px 10px;
    rotate: 90deg;
    border-color: transparent transparent #bfbfbf transparent;
    transition-duration: 0.3s;
    transition-property: transform;
}